
doctype html
html(lang="es")
	head
		title Login
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/app.css")
		script(src="/socket.io/socket.io.js")
		script(src="/js/handlebars.js")
	body
		
		block contenido
		
			
