doctype html
html(lang="es")
	head
		title Login
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/app.css")
	body
		nav(class="large-padding black white-text")
			ul
				li
					a(href="/app") Inicio
				li
					a(href="/app/imagenes") Mis Imagenes
		block contenido