extends ../../layout.jade
block contenido
	div(class="col-md-6 remove-float center-block  big-top-space" )
		form(action="/app/imagenes" method="POST")
			div(class="form-group")
				label(for="title") Titulo
				input(type="text" name="title" id="title" class="form-control")
			div(class="form-group")
				label(for="imagen") Subir Imagen
				input(type="file" name="imagen" id="imagen" class="form-control" )
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					input(type="submit" value="iniciar sesion" class="btn btn-info")
			